@media screen and (min-height: 700px){
    .header{
        max-height: 350px;
    }
}
@media screen and (max-width: 1206px){

    .header{
        &__menu{
            width: 42%;
        }
    }
    .contenedorServicio{
        &__caja1{
            margin: 0 20px 0 0;
        }
        &__caja2{
            margin: 0 20px 0 0;
        }
        &__caja3{
            margin: 0 20px 0 0;
        }
        &__caja4{
            margin: 0 20px 0 0;
        }
    }
    .subir{
        left:93%;
    }
}

@media screen and (max-width: 1170px){

    .contenedorServicio{
        &__caja1{
            margin: 0 10px 0 0;
        }
        &__caja2{
            margin: 0 10px 0 0;
        }
        &__caja3{
            margin: 0 10px 0 0;
        }
        &__caja4{
            margin: 0 10px 0 0;
        }
    }
}
@media screen and (max-width: 1130px){
    .contenedorServicio{
        height: 1030px;
        &__bloque{
            display: flex;
            flex-direction: column;
            align-items: center ;
        }
        &__mediaQ{
            margin-bottom: 30px;
        }
        &__caja1{
            margin: 0 75px 0 0;
        }
        &__caja3{
            margin: 0 75px 0 0;
            }
    }
    .contenedorServicio2{
        height: 500px;
    }
    .footer{
        &__texto{
            font-size: 15px;
        }
        &__h4{
            font-size: 18px;
        }
        &__info{
            font-size: 15px;
            padding-left: 10px;
            width: 40%;
        }
        &__redesSociales{
            padding: 0 35px;
        }
    }
}
@media screen and (max-width: 1015px){
    .header{
        &__menu{
            width: 50%;
        }
    }
    .subir{
        left: 92%;
    }
}
@media screen and (max-width: 952px){
    .footer{
        &__texto{
            font-size: 13px;
        }
    }
    .subir{
        left:91%;
    }
}

@media screen and (max-width: 930px){
        .footer{
            &__img{
                width: 200px;
            }
        }
        .icon-github{
            font-size: 30px;
            }
        .icon-facebook2{
            font-size: 30px;
            }
        .icon-instagram{
            font-size: 30px;
            }
        .icon-phone{
            font-size: 25px;
        }
        .icon-envelop{
            font-size: 25px;
        }
        .subir{
            left:90%;
        }
        .contenedorServicio{
            &__caja6{
                margin-right: 80px;
            }
            &__caja7{
                margin-right: 80px;
            }
        }
}
@media screen and (max-width: 845px){
    .header{
        &__menu{
            width: 65%;
        }
    }
    .footer{
        &__informacion{
            padding: 0 17px 15px 0;
        }
        &__info{
            padding-left: 12px;
            font-size: 13px;
        }
    }
    .contenedorServicio{
        &__caja6{
            margin-right: 65px;
        }
        &__caja7{
            margin-right: 65px;
        }
    }
}
@media screen and (max-width: 800px){
    .contenedorServicio{
        &__caja6{
            margin-right: 40px;
        }
        &__caja7{
            margin-right: 40px;
        }
    } 
    .header{
        max-height: 350px;
        &__imagenCentral{
            width: 180px;
            height: 180px;
            margin-top: -83px;
        }
    }
    .contenedorAcercaDe__text--color{
        font-size: 17px;
    }
    .contenedorTrabajo{
        p{
            font-size: 17px;
        }
    }
    .footer{
        &__redesSociales{
            padding: 0 25px;
        }
        &__img{
            width: 150px;
        }
    }
    .icon-github{
        font-size: 25px;
        }
    .icon-facebook2{
        font-size: 25px;
        }
    .icon-instagram{
        font-size: 25px;
        }
    .icon-phone{
        font-size: 20px;
    }
    .icon-envelop{
        font-size: 20px;
    }
    .subir{
        left:88%;
    }
}
@media screen and (max-width: 740px){
    .contenedorServicio{
        &__caja6{
            margin-right: 25px;
        }
        &__caja7{
            margin-right: 25px;
        }
    }
    .subir{
        left: 89%;
    }
}
@media screen and (max-width: 717px){
    .header{
        max-height: 300px;
    }
    .footer{
        &__subBloque{
            padding: 0 30px;
        }
        &__img{
            width: 130px;
        }
        &__h4{
            font-size: 15px;
        }
        &__info{
            padding-left: 5px;
        }
    }
    .icon-phone{
        font-size: 15px;
    }
    .icon-envelop{
        font-size: 15px;
    }
    .contenedorServicio{
        &__caja6{
            margin-right: 15px;
        }
        &__caja7{
            margin-right: 15px;
        }
    } 
}
@media screen and (max-width: 690px){
    .contenedorServicio{
        &__bloque2{
            display: flex;
            flex-direction: column;
            align-items: center ;
        }
        &__caja6{
            margin: 0 0 30px 0;
        }
        &__caja7{
            margin: 0 0 30px 0;
        }
    }
    .contenedorServicio2{
        height: 1020px;
    }
    .subir{
        left: 88%;
    }
}
@media screen and (max-width: 655px){
    .header{
        &__menu{
            width: 80%;
        }
    }
    .contenedorTrabajo p{
        font-size: 15px;
    }
}
@media screen and (max-width: 632px){
    .index{
        margin-top: 20%;
    }
    .logo{
        &__img{
            width: 350px;
        }
    }
    .contenedorP{
        &__texto{
            font-size: 30px;
        }
        &__boton{
            font-size: 29px;
        }
        &__boton1{
            font-size: 29px;
        }
    }
    .footer{
        &__informacion{
            padding: 0 46px 15px 0;
        }
        &__texto{
            font-size: 11PX;
        }
    }
    .contenedorAcercaDe{
        &__cajaTexto{
            margin-left: 10%;
            margin-right: 10%;
        }
    }
    .contenedorTrabajo p{
        line-height: 22px;
    }
    
    .subir{
        left: 87%;
    }
}
@media screen and (max-width: 600px){
    .contenedorTrabajo{
        &__bloque{
            padding: 50px 50px;
        }
        p{
            padding-left: 0;
        }
    }
    .header{
        max-height: 280px;
        &__fondo{
            width: 0;
            &--movil{
                width: 100%;
            }
        }
    }
    .contenedorTrabajo{
        &__bloque{
            display: flex;
            flex-direction: column;
            img{
                margin-bottom: 30px;
            }
        }
    }
    .footer{
        &__texto{
            padding: 20px 0 0 0 ;
        }
        &__info{
            font-size: 11px;
        }
    }
    .subir{
        left:86%;
    }
    #flecha{
        font-size: 40px;
    }
    .contenedorServicio{
        &__caja1{
            margin: 0 65px 0 0;
        }
        &__caja2{
            margin: 0;
        }
        &__caja3{
            margin: 0 65px 0 0;
        }
        &__caja4{
            margin: 0 ;
        }
    }
}

@media screen and (max-width: 550px){
    .footer{
        &__img{
            width: 110px;
        }
    }
    .icon-github{
        font-size: 20px;
        }
    .icon-facebook2{
        font-size: 20px;
        }
    .icon-instagram{
        font-size: 20px;
        }
}
@media screen and (max-width: 540px){
    .header{
        max-height: 270px;
    }
    .header{
        &__menu{
            width: 95%;
        }
    }
    .contenedorServicio{
        &__caja1{
            margin: 0 32px 0 0;
        }
        &__caja2{
            margin: 0;
        }
        &__caja3{
            margin: 0 32px 0 0;
        }
        &__caja4{
            margin: 0 ;
        }
    }
    .subir{
        left: 85%;
    }
}
@media screen and (max-width: 530px){
    .footer{
        &__redesSociales{
            padding: 0 15px;
        }
        &__informacion{
            padding: 0 20px 15px 0 ;
        }
    }
}
@media screen and (max-width: 500px){
    .header{
        &__imagenCentral{
            width: 150px;
            height: 150px;
            margin-top: -83px;
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: normal;
        &__redesSociales{
            display: flex;
            flex-direction: row;
        }
        &__informacion{
            padding: 0 20px 15px 15px;
        }
        &__comunicacion{
            height: 55px;
        }
        &__subBloque{
            padding-top: 10px;
            padding-bottom: 10px;
            border: none;
        }
    }
    .subir{
        left:84%;
    }
}
@media screen and (max-width: 490px){
    .contenedorServicio{
        &__caja1{
            margin: 0 20px 0 0;
        }
        &__caja2{
            margin: 0;
        }
        &__caja3{
            margin: 0 20px 0 0;
        }
        &__caja4{
            margin: 0 ;
        }
        &__mediaQ{
            margin-bottom: 20px;
        }
    }
    .header{
        max-height: 260px;
    }
    .footer{
        &__img{
            width: 100px;
        }
        &__info{
            padding-left: 2px;
        }
    }
    .contenedorServicio{
        &__caja1{
            margin: 0 20px 0 0;
        }
        &__caja2{
            margin: 0;
        }
        &__caja3{
            margin: 0 20px 0 0;
        }
        &__caja4{
            margin: 0 ;
        }
    }
}
@media screen and (max-width: 477px){
    .logo{
        &__img{
            width: 300px;
        }
    }
    .contenedorP{
        &__texto{
            font-size: 25px;
        }
        &__boton{
            font-size: 28px;
        }
        &__boton1{
            font-size: 28px;
        }
        &__selector{
            padding: 7px 0px 7px 8px;
        }
    }
}
@media screen and (max-width: 456px){
    .contenedorTrabajo{
        &__bloque{
            padding: 50px 35px;
        }
    }
    .contenedorServicio{
        &__caja1{
            margin: 0 10px 0 0;
        }
        &__caja2{
            margin: 0;
        }
        &__caja3{
            margin: 0 10px 0 0;
        }
        &__caja4{
            margin: 0 ;
        }
        &__mediaQ{
            margin-bottom: 10px;
        }
    }
    .header{
        max-height: 240px;
    }
    .header{
        &__menu{
            width: 95%;
        }
    }
    .subir{
        left:83%;
    }
}
@media screen and (max-width: 450px){
    .contenedorServicio{
        height: 1650px;
        &__mediaQ{
            display: flex;
            flex-direction: column;
        }
        &__caja1{
            margin: 0 0 30px 0;
        }
        &__caja2{
            margin: 0 0 30px 0;
        }
        &__caja3{
            margin: 0 0 30px 0;
        }
        &__caja4{
            margin: 0 0 30px 0;
        }
    }
    .contenedorServicio2{
        height: 1000px;
    }
    .header{
        &__menu ul li{
            font-size: 17px;
            padding: 9px;
        }
    }
}
@media screen and (max-width: 415px){
    .logo{
        &__img{
            width: 250px;
        }
    }
    .contenedorP{
        &__texto{
            font-size: 23px;
        }
        &__boton{
            font-size: 26px;
            padding: 9px 35px;
        }
        &__boton1{
            font-size: 26px;
            padding: 9px 35px;
        }
        &__selector{
            font-size: 17px;
            padding: 7px 0px 7px 8px;
        }
        &__contenidoSelector{
            margin-bottom: 30px;
        }
    }
    .header{
        &__menu ul li{
            font-size: 16px;
            padding: 8px;
        }
    }
    .subir{
        left:82%;
    }
    #flecha{
        font-size: 35px;
    }
    .contenedorTrabajo{
        p{
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 387px){
    .contenedorP{
        &__texto{
            font-size: 20px;
        }
        &__boton{
            font-size: 25px;
            padding: 8px 35px;
        }
        &__boton1{
            font-size: 25px;
            padding: 8px 35px;
        }
        &__selector{
            font-size: 16px;
            padding: 7px 0px 7px 8px;
        }
    }
    .header{
        &__menu ul li{
            font-size: 15px;
            padding: 7px;
        }
    }
    .subir{
        left: 81%;
    }
}
@media screen and (max-width: 367px){
    .contenedorP{
        &__texto{
            font-size: 20px;
        }
        &__boton{
            font-size: 24px;
            padding: 8px 35px;
        }
        &__boton1{
            font-size: 24px;
            padding: 8px 35px;
        }
        &__botones{
            display: flex;
            flex-direction: column;
        }
        &__boton{
            margin-bottom: 20px;
            padding: 5px 120px;
        }
        &__boton1{
            margin-bottom: 20px;
            padding: 5px 120px;
        }
        &__selector{
            font-size: 15px;
            padding: 7px 0px 7px 8px;
        }
    }
}
@media screen and (max-width: 360px){
    .contenedorP{
        &__texto{
            font-size: 20px;
        }
        &__boton{
            font-size: 22px;
            padding: 5px 120px;
        }
        &__boton1{
            font-size: 22px;
            padding: 5px 120px;
        }
        &__selector{
            font-size: 14px;
            padding: 7px 0px 7px 8px;
        }
    }
    .subir{
        left: 80%;
    }
    .header{
        &__menu ul li{
            font-size: 14px;
        }
    }
}
@media screen and (max-width: 340px){
    .header{
        &__menu ul li{
            font-size: 13px;
        }
        &__imagenCentral{
            width: 145px;
            height: 145px;
            margin-top: -83px;
        }
    }
    .contenedorP{
        &__boton{
            font-size: 22px;
            padding: 5px 110px;
        }
        &__boton1{
            font-size: 22px;
            padding: 5px 110px;
        }
}
}
@media screen and (max-width: 330px){
    .contenedorP{
        &__texto{
            font-size: 18px;
        }
        &__boton{
            font-size: 20px;
            padding: 5px 110px;
        }
        &__boton1{
            font-size: 20px;
            padding: 5px 110px;
        }
        &__selector{
            font-size: 13px;
            padding: 7px 0px 7px 8px;
        }
    }
    .subir{
        left: 78%;
    }
    .contenedorTrabajo{
        p{
            font-size: 13px;
        }
        img{
            width: 185px;
            height: 185px;
        }
    }
}
@media screen and (max-width: 320px){
    .header{
        &__menu ul li{
            font-size: 12px;
        }
        &__imagenCentral{
            width: 140px;
            height: 140px;
            margin-top: -83px;
        }
    }
}
@media screen and (max-width: 305px){
    .header{
        &__menu ul li{
            font-size: 11px;
            padding: 6px;
        }
        &__imagenCentral{
            width: 135px;
            height: 135px;
            margin-top: -83px;
        }
    }
    .contenedorTrabajo{
        &__bloque{
            padding: 50px 25px;
        }
    }
    .icon-envelop{
        font-size: 14px;
    }
    .icon-phone{
        font-size: 14px;
    }
    .contenedorP{
        &__texto{
            font-size: 18px;
        }
        &__boton{
            font-size: 20px;
            padding: 5px 95px;
        }
        &__boton1{
            font-size: 20px;
            padding: 5px 95px;
        }
        &__selector{
            font-size: 12px;
            padding: 7px 0px 7px 8px;
        }
    }
}
@media screen and (max-width: 285px){
    .logo{
        &__img{
            width: 225px;
        }
    }
    .contenedorP{
        &__texto{
            font-size: 16px;
        }
        &__boton{
            font-size: 20px;
            padding: 5px 85px;
        }
        &__boton1{
            font-size: 20px;
            padding: 5px 85px;
        }
        &__selector{
            font-size: 11px;
            padding: 7px 0px 7px 8px;
        }
    }
}
@media screen and (max-width: 278px){
    .header{
        max-height: 215px;
        &__menu ul li{
            font-size: 10px;
        }
        &__imagenCentral{
            width: 130px;
            height: 130px;
            margin-top: -83px;
        }
        &__texto{
            font-size: 14px;
        }
    }
    .contenedorAcercaDe{
        &__text{
            &--color{
                font-size: 14px;
            }
        }
    }
    .footer{
        &__info{
            font-size: 10px;
        }
    }
    .header{
        &__imagenCentral{
        width: 120px;
        height: 120px;
        margin-top: -83px;
    }
}
}
@media screen and (max-width: 260px){
    .header{
        &__menu ul li{
            font-size: 9px;
            padding: 5px;
        }
    }
    .contenedorP{
        &__texto{
            font-size: 18px;
        }
        &__boton{
            font-size: 20px;
            padding: 5px 75px;
        }
        &__boton1{
            font-size: 20px;
            padding: 5px 75px;
        }
        &__selector{
            font-size: 10px;
            padding: 7px 0px 7px 8px;
        }
    }
}