$colorBackground2:black;
$colorBackground:rgb(12, 12, 12);
$colorMenu: rgba(0, 112, 255, 0.6);
$colorBotonHoverMenu:rgb(255, 52, 0);
$colorLetraBlanca:white;
$colorLetraGris:gray;
$colorLetraNaranja:rgb(255, 52, 0);
$colorLetraNegra:black;
$colorBoton:rgb(255, 52, 0);
$colorBotonHoverConsulta:rgb(0, 112, 255);